body {
  font-size: 16px;
  
  font-family: 'Oxygen', sans-serif;
}
#header-nav{
	border-radius:0;
	
}
.navbar-header a{
	font-size:1.6em;
	font-weight:bold;
}
#nav-list a{
 text-align:center;

}
#nav-list a:hover,#nav-list a:focus{
	background-color: #e7e7e7
}

#main-content section{
	background-color: #e7e7e7;
	margin-left:0;
	margin-right:0;
	margin-bottom:20px;
}
#main-content section p{
	margin:auto 10px;
}
#collapsible-menu-items{
	background-color: #fff
}
#collapsible-menu-items li:nth-child(1),#collapsible-menu-items li:nth-child(2){
	border-bottom:1px solid #e7e7e7;
}
@media (max-width:767px){

#main-content section{
	
	margin:20px;
}

}